body {
    color: #000000;
    font-family: Tahoma;
    display: flex;
    height: 96vh;
  }
  
  #app {
    width: 512px;
    margin: auto;
    box-shadow: 4px 4px 20px #f0f0f0;
    padding: 20px;
    border-radius: 20px;
  }
  
  .center {
    text-align: center;
  }
  
  .startHidden {
    display: none;
  }
  
  h3 {
    margin: 4px;
    font-weight: normal;
  }
  
  input {
    width: 80%;
    margin: 4px;
    padding: 4px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #060447;
    outline: none;
  }
  
  button {
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  
  button:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  
  p {
    margin: 0;
  }
  
  .alternative {
    background-color: rgb(0, 0, 0);
  }
  #loading {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 1;
  }